<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
           Price             
        </th>                                    
    </tr>
    <tr *ngFor="let product of products" (click)="showData(product);">
        <td>
            {{product.id}}
        </td>
        <td>
            {{product.name}}
        </td>
        <td>
            {{product.price}}            
        </td>                                    
    </tr>
</table>
<product-detail [myProduct]="currentProduct"></product-detail>